@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-background: #fefae0;
  --color-foreground: #000000;

  --color-primary: #dda15e;
  --color-primary-foreground: #ffffff;

  --color-secondary: #bc6c25;
  --color-secondary-foreground: #ffffff;

  --color-accent: #f6bd60;
  --color-accent-foreground: #70e000;

  --color-destructive: #283618;
}

/* Base styles */
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .h1 {
    @apply text-primary md:text-5xl text-2xl font-bold;
  }

  .h2 {
    @apply text-primary md:text-4xl text-xl font-bold;
  }

  .h3 {
    @apply text-primary md:text-3xl text-lg font-bold;
  }

  .h4 {
    @apply text-primary md:text-2xl text-lg font-bold;
  }

  .p {
    @apply text-base text-foreground;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    appearance: textfield;
  }
}
